apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: image-registry
  namespace: openshift-image-registry
spec:
  host: image-registry.{{ openshift_ingress_default_subdomain }}
  #host: image-registry.apps.cluster-a793.a793.sandbox1216.opentlc.com
  port:
    targetPort: 5000-tcp
  tls:
    termination: reencrypt
  to:
    kind: Service
    name: image-registry
